---
import Layout from "@layouts/Layout.astro";
import { chunkIntoThree } from "@utils/chunkIntoThree";
import { fetchGallery } from "@utils/fetchGallery";
import { Image } from "astro:assets";

const images = await fetchGallery(fetch, { limit: 100 });

const galleryImages = images.filter(
  (image: any) =>
    !image.metadata.tags.some((tag: any) => tag?.sys?.id === "exclude")
);

const chunks = chunkIntoThree(galleryImages);
---

<Layout title="BBB | Gallery">
  <div class="w-full bg-gradient-to-b from-yellow-gra-start py-5">
    <h2 class="section-title text-center mb-0">Gallery</h2>
  </div>
  <section class="section-container py-7">
    <div class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-4">
      {
        chunks.map((chunk) => (
          <div class="flex flex-col gap-4">
            {chunk.map((image) => (
              <Image
                class="rounded-lg"
                src={image.fields.file.url.replace("//", "https://")}
                alt={image.fields.title}
                width={image.fields.file.details.image.width}
                height={image.fields.file.details.image.height}
              />
            ))}
          </div>
        ))
      }
    </div>
  </section>
</Layout>
