---
import Layout from "@layouts/Layout.astro";
---

<Layout title="BBB | Gallery">
  <div class="w-full bg-yellow-gra-end py-5">
    <h2 class="section-title text-center mb-0">Gallery</h2>
  </div>
</Layout>
