---
import Layout from "@layouts/Layout.astro";
---

<Layout title="BBB | Resources">
  <div class="w-full bg-gradient-to-b from-yellow-gra-start py-5">
    <h2 class="section-title text-center mb-0">Resources</h2>
  </div>
  <div class="w-screen px-10">
    <div>
      <p class="text-center">
        We are currently curating a list of resources for our community. Please
        check back soon.
      </p>
    </div>
  </div>
</Layout>
