---
import Layout from "@layouts/Layout.astro";
---

<Layout title="BBB | Resources">
  <div class="w-full bg-yellow-gra-end py-5">
    <h2 class="section-title text-center mb-0">Resources</h2>
  </div>
  <div class="w-screen px-10">
  </div
</Layout>
