---
import Layout from "@layouts/Layout.astro";
import Resources from "@components/Resources.astro";
---

<Layout title="BBB | Resources">
  <div class="w-full bg-gradient-to-b from-yellow-gra-start py-5">
    <h2 class="section-title text-center mb-0">Resources</h2>
  </div>
  <Resources />
</Layout>
