---
import Layout from "@layouts/Layout.astro";
import Testimonials from "@components/Testimonials.astro";
---

<Layout title="BBB | Testimonials">
  <div class="w-full bg-gradient-to-b from-yellow-gra-start py-5">
    <h2 class="section-title text-center mb-0">Testimonials</h2>
  </div>
  <div class="w-screen px-10">
    <Testimonials />
  </div>
</Layout>
