---
import Clock from "@components/icons/Clock.svelte";
import Pin from "@components/icons/Pin.svelte";
import Map from "@components/Map.svelte";
---

<section id="find">
  <div class="section-container">
    <div class="grid grid-cols-1 lg:grid-cols-2 grid-rows-1 gap-y-12 gap-x-24">
      <div>
        <h2 class="section-title">When & Where We Meet</h2>
        <p class="text-base mb-7">
          We meet at Broomfield Methodist Church, which is located on Main Road,
          in Broomfield, Chelmsford. The hall is at the back of the church, and
          is accessed via the path at the right of the car park.
        </p>
        <div class="flex text-black font-semibold mb-7 text-base">
          <div class="w-[18px] h-[18px] flex-0 mr-2.5"><Clock /></div>
          <div class="flex-1">
            <p>Meeting Times:</p>
            <p>7:30pm - Late - Last Monday of each month</p>
            <p class="font-extralight text-sm">(Children not welcome)</p>
            <p>10:00am - 12:00pm - Last Friday of each month</p>
            <p class="font-extralight text-sm">(Children welcome)</p>
            <p class="font-light text-xs">
              These times or dates may be subject to change, please refer to our <a
                href="/events"
                class="text-yellow">events</a
              > page.
            </p>
          </div>
        </div>
        <div class="flex text-black font-semibold text-base">
          <div class="w-[18px] h-[18px]flex-0 mr-2.5"><Pin /></div>
          <div class="flex-1">
            <address class="not-italic">
              <p>Broomfield Methodist Church</p>
              <p>124 Main Road,</p>
              <p>Broomfield,</p>
              <p>Chelmsford,</p>
              <p>CM1 7AG</p>
            </address>
          </div>
        </div>
      </div>
      <Map />
    </div>
  </div>
</section>
