---
import type { Link } from "@models/Link";

export type Column = Link[];

export type ContactIcon = {
  href: string;
  imageSrc: string;
  alt: string;
};

export interface Props {
  columns: Column[];
}

const { columns } = Astro.props;
---

<footer class="bg-black py-8">
  <div class="flex flex-col md:flex-row max-w-5xl mx-4 lg:mx-auto">
    <div class="flex-1">
      <h3 class="text-yellow text-lg font-semibold mb-2.5">Quicklinks</h3>
      <nav class="flex flex-row text-white">
        {
          columns.map((links) => (
            <ul class="mr-16">
              {links.map((link) => (
                <li class="mb-2">
                  <a href={link.href} title={link.alt}>
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          ))
        }
      </nav>
    </div>
    <div class="mt-auto text-sm">
      <div class="text-white">
        Site by <a
          href="https://pauldolden.com"
          target="_blank"
          class="text-yellow">Paul Dolden</a
        >
        & <a href="/" class="text-yellow">Fred Perkins</a>
      </div>
      <div class="text-white">
        Design by <a
          class="text-yellow"
          href="https://www.instagram.com/itsloxley"
          target="_blank">Lloyd Oxley</a
        >
      </div>
      <div class="text-yellow mt-auto">
        Broomfield Baby Bereavement {new Date().getFullYear()} &copy;
      </div>
    </div>
  </div>
</footer>
