---
import { Image } from "@astrojs/image/components";

const images = ["/images/about.jpg", "/images/about.jpg", "/images/about.jpg"];
---

<section
  id="gallery"
  class="bg-yellow py-20 flex flex-col items-center justify-center"
>
  <div class="section-container flex flex-col items-center relative">
    <h2 class="section-title text-center mb-0">Gallery</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-7 py-7">
      {
        images.map((image) => (
          <Image
            class="rounded-lg"
            src={image}
            alt="gallery"
            width={314}
            aspectRatio={314 / 235}
          />
        ))
      }
    </div>
    <a href="/gallery" class="btn bg-white">View All</a>
  </div>
</section>
