---
import { Image } from "@astrojs/image/components";
import { fetchGalleryPreview } from "../utils/fetchGalleryPreview";

const images = await fetchGalleryPreview(fetch, [
  "2H9kJoizJ4NZyE9NwyYBzo",
  "2BA2HOa4Tf9CPklbyDWsO3",
  "7IUAr3s9URlexk5C0R528q",
]);
---

<section
  id="gallery"
  class="bg-yellow py-20 flex flex-col items-center justify-center"
>
  <div class="section-container flex flex-col items-center relative">
    <h2 class="section-title text-center mb-0">Gallery</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-7 py-7">
      {
        images.map((image) => (
          <Image
            class="rounded-lg"
            src={image.fields.file.url.replace("//", "https://")}
            alt={image.fields.title}
            width={314}
            aspectRatio={314 / 235}
          />
        ))
      }
    </div>
    <a href="/gallery" class="btn bg-white">View All</a>
  </div>
</section>
