---
import { HEADER_LINKS } from "@constants/navigation";
import type { NavItem } from "@models/NavItem";

const findLink = { label: "Where to find us", href: "#find" } as NavItem;
---

<header
  id="header"
  class="absolute bg-transparent p-[20px] w-full flex justify-between items-center"
>
  <nav class="flex flex-1 justify-between">
    <div class="invisible">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M23.7252 25.8372L17.8529 26.1166L16.2591 25.2806L16.2048 21.3822L14.8849 16.707L17.1091 15.466C17.1091 15.466 20.3841 17.3773 20.3912 17.5549C20.3983 17.7326 24.2258 18.1447 24.2258 18.1447L24.665 19.6936L23.7252 25.8372Z"
          fill="#FFCB00"></path>
        <path
          d="M27.3615 9.33664L27.319 9.30822L27.2741 9.28217C26.3061 8.71749 25.2434 8.33465 24.1384 8.15245C22.9549 7.95104 21.7463 7.94624 20.5612 8.13824C19.4528 8.31009 18.3766 8.64862 17.3689 9.14243C16.621 8.37746 15.6851 7.82398 14.6557 7.53788C13.6263 7.25178 12.5398 7.2432 11.506 7.51299C10.7316 6.09196 10.1177 3.8041 12.2475 1.52572C12.3334 1.4421 12.4016 1.34187 12.4478 1.23107C12.494 1.12028 12.5174 1.00123 12.5165 0.881124C12.5155 0.761019 12.4903 0.642356 12.4423 0.53231C12.3943 0.422263 12.3246 0.32312 12.2373 0.240877C12.1501 0.158634 12.0471 0.0949995 11.9346 0.0538232C11.8221 0.0126469 11.7025 -0.00521661 11.5829 0.00131376C11.4633 0.00784414 11.3463 0.0386319 11.239 0.0918158C11.1316 0.145 11.0361 0.219475 10.9583 0.310736C8.5829 2.84727 8.80011 5.41697 9.40221 7.12457C9.53327 7.49636 9.69109 7.8581 9.87445 8.20692C9.56213 8.39708 9.26808 8.61591 8.99609 8.8606C8.72206 9.10238 8.47147 9.36962 8.24761 9.65874C7.92257 9.43641 7.58251 9.23699 7.22993 9.06191C5.60778 8.26613 3.0884 7.75219 0.302189 9.82216C0.134709 9.96924 0.0285944 10.1742 0.00499332 10.3962C-0.0186077 10.6182 0.0420226 10.841 0.174819 11.0202C0.307616 11.1994 0.50284 11.3219 0.721595 11.3632C0.940351 11.4045 1.16659 11.3617 1.35527 11.2432C3.85814 9.38401 6.05877 10.2627 7.37159 11.1982C6.98583 12.1981 6.87002 13.2824 7.03586 14.3416C7.2017 15.4008 7.64331 16.3973 8.31607 17.2305C7.06122 19.2015 6.44588 21.514 6.55463 23.8501C6.60754 24.9718 6.86356 26.0745 7.3102 27.1042L7.33147 27.154L7.35508 27.199C7.69698 27.876 8.18016 28.4714 8.77179 28.9445C9.33346 29.3951 9.98857 29.714 10.6891 29.8776C10.9501 29.9365 11.2154 29.9745 11.4824 29.9913C11.7501 30.0079 12.0188 30.0007 12.2853 29.97C13.0003 29.8868 13.6877 29.644 14.297 29.2595C14.9382 28.8577 15.4865 28.3232 15.905 27.6916L15.9333 27.649L15.9593 27.6016C16.1833 27.2227 16.3776 26.8267 16.5401 26.4174C17.2802 26.6701 18.0435 26.8486 18.8187 26.9503C20.7606 27.2002 22.7336 27.0166 24.5965 26.4127C25.4082 24.6294 25.8185 22.6888 25.7984 20.7286C25.7874 19.9417 25.6988 19.1579 25.5339 18.3886C25.9611 18.2746 26.3787 18.1273 26.783 17.9481L26.8302 17.9268L26.8774 17.9031C27.5516 17.5588 28.1448 17.0744 28.6176 16.482C29.0657 15.9182 29.3828 15.2612 29.5456 14.5589C29.6068 14.2976 29.6447 14.0312 29.6589 13.7631C29.7206 12.7696 29.4686 11.7818 28.9388 10.94C28.5322 10.2995 27.9946 9.75295 27.3615 9.33664ZM16.1718 17.8628C16.3229 17.7349 16.474 17.607 16.6251 17.4744C16.7762 17.3418 16.9321 17.1926 17.0808 17.0481C17.7182 17.4426 18.3938 17.7711 19.0973 18.0286L19.0524 18.0783C18.4007 18.7781 17.6826 19.4127 16.9085 19.973C16.734 19.246 16.4856 18.5389 16.167 17.8628H16.1718ZM14.4221 26.7158C14.1652 27.1231 13.8219 27.4684 13.4166 27.7271C13.0113 27.9859 12.554 28.1517 12.0775 28.2127L11.9547 28.2245H11.9311H11.8484H11.5745C11.4454 28.217 11.3168 28.2012 11.1897 28.1771L11.0787 28.1534C10.6121 28.0365 10.1769 27.8181 9.80389 27.5136C9.43092 27.209 9.12935 26.8259 8.92055 26.3914C8.23108 24.8306 8.08469 22.8104 8.65373 20.7688C8.86764 19.9933 9.17947 19.2483 9.58167 18.552C9.71862 18.3152 9.86267 18.0949 10.0138 17.8818C10.4795 17.2182 11.0497 16.6351 11.702 16.1552C11.8924 16.016 12.0911 15.8886 12.297 15.7739C13.8011 16.8634 14.9699 18.8125 15.3383 21.1596C15.6617 23.2533 15.284 25.2427 14.4174 26.7135L14.4221 26.7158ZM23.2766 24.9561C22.2682 25.2058 21.2312 25.3197 20.1929 25.2948C20.903 24.8385 21.5758 24.3261 22.2046 23.7625C22.5919 23.419 22.9649 23.0519 23.3238 22.6659C23.5481 22.4291 23.7654 22.1733 23.9708 21.9222C23.874 22.9595 23.639 23.9791 23.2719 24.9538L23.2766 24.9561ZM21.8434 21.2212C20.4997 22.6829 18.8652 23.8456 17.0454 24.634L17.0738 24.473C17.1985 23.7435 17.2476 23.0029 17.2202 22.2633C17.9971 21.7796 18.7309 21.2297 19.4137 20.6196C19.8009 20.2738 20.174 19.9075 20.5329 19.5207C20.8115 19.2223 21.0736 18.9144 21.3192 18.6041C22.0486 18.7166 22.7876 18.7539 23.5245 18.7154L23.6945 18.7036C23.1769 19.6124 22.5539 20.4567 21.8386 21.2188L21.8434 21.2212ZM27.8668 13.1687C27.8668 13.2066 27.8668 13.2445 27.8668 13.28C27.875 13.4101 27.875 13.5407 27.8668 13.6708C27.8656 13.6913 27.8656 13.7118 27.8668 13.7324C27.8668 13.7466 27.8668 13.7608 27.8668 13.775C27.8657 13.7955 27.8657 13.8161 27.8668 13.8366V13.891V13.9431L27.8526 14.026C27.8526 14.026 27.8526 14.0426 27.8526 14.0497C27.8526 14.0568 27.8361 14.1302 27.8266 14.1681C27.7109 14.6362 27.4937 15.0729 27.1905 15.447C26.8872 15.8212 26.5054 16.1237 26.0723 16.3328C24.5139 17.0244 22.5021 17.1712 20.4668 16.6005C18.1835 15.9634 16.3913 14.5731 15.4847 12.9461C15.6233 12.7549 15.7723 12.5714 15.9309 12.3966C16.4779 11.8067 17.1157 11.3085 17.8199 10.9211C18.056 10.7956 18.2921 10.6843 18.5282 10.5729C19.2696 10.2478 20.0498 10.0201 20.8493 9.89558C22.939 9.56637 24.92 9.94532 26.3863 10.8145C26.7888 11.0744 27.1295 11.4197 27.3845 11.8261C27.6395 12.2324 27.8025 12.6899 27.862 13.1663L27.8668 13.1687Z"
          fill="#1E1E1E"></path>
      </svg>
    </div>

    <ul class="flex gap-[20px]">
      {
        HEADER_LINKS.map((link) => (
          <li>
            <a class="nav-item" href={link.href}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      class="group nav-item w-[188px] bg-black text-white border-none items-center gap-[5px]"
      href={findLink.href}
    >
      <!--?xml version="1.0" encoding="iso-8859-1"?-->
      <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 492.452 492.452"
        style="enable-background:new 0 0 492.452 492.452;"
        xml:space="preserve"
        height="14"
        class="fill-yellow group-hover:fill-black"
      >
        <path
          id="XMLID_152_"
          d="M246.181,0C127.095,0,59.533,102.676,84.72,211.82c17.938,77.722,126.259,280.631,161.462,280.631
	c32.892,0,143.243-202.975,161.463-280.631C432.996,103.74,365.965,0,246.181,0z M246.232,224.97
	c-34.38,0-62.244-27.863-62.244-62.244c0-34.381,27.864-62.244,62.244-62.244c34.38,0,62.244,27.863,62.244,62.244
	C308.476,197.107,280.612,224.97,246.232,224.97z"
        ></path>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
      </svg>
      {findLink.label}
    </a>
  </nav>
</header>
