---
import BeeLeft from "@components/BeeLeft.astro";
import Logo from "@components/Logo.astro";
import BeeRight from "@components/BeeRight.astro";
---

<section
  id="hero"
  class="h-[600px] bg-gradient-to-b from-yellow-gra-start to-yellow-gra-end flex justify-center items-center relative"
>
  <div class="absolute left-0 top-[100px]">
    <BeeLeft />
  </div>
  <div class="container mx-auto max-w-2xl">
    <Logo />
    <div>
      <p class="text-[18px] font-thin mt-[20px] mb-[70px]">
        Lorum ipsum dolor sit amet , consectetur adipiscing elit. Aliquam
        elementum consequat enim
      </p>
    </div>
  </div>
  <div class="absolute right-0 bottom-[100px]">
    <BeeRight />
  </div>
</section>
