---
import { fetchEntries } from "../utils/fetchEntries";
import Testimonial from "@components/Testimonial.astro";

const testimonials = await fetchEntries("testimonial", fetch);

function chunkIntoThree(inputArray: any[]) {
  const len = inputArray.length;
  const size = Math.ceil(len / 3);

  const chunk1 = inputArray.slice(0, size);
  const chunk3 = inputArray.slice(size * 2);
  const chunk2 = inputArray.slice(size, size * 2);

  return [chunk1, chunk2, chunk3];
}

const chunks = chunkIntoThree(testimonials.items);
---

<div class="w-screen p-10">
  {
    testimonials?.items.length > 0 ? (
      <div class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-4">
        {chunks.map((chunk) => (
          <div class="flex flex-col gap-4">
            {chunk.map((testimonial) => {
              return <Testimonial testimonial={testimonial.fields} />;
            })}
          </div>
        ))}
      </div>
    ) : (
      <div>
        <p class="text-center">
          We are currently curating a list of testimonials from our community.
          Please check back soon.
        </p>
      </div>
    )
  }
</div>
