---
import { fetchEntries } from "../utils/fetchEntries";
import { chunkIntoThree } from "../utils/chunkIntoThree";
import Testimonial from "@components/Testimonial.astro";

const testimonials = await fetchEntries("testimonial", fetch);

const chunks = chunkIntoThree(testimonials.items);
---

<div class="w-screen p-10">
  {
    testimonials?.items.length > 0 ? (
      <div class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-4">
        {chunks.map((chunk) => (
          <div class="flex flex-col gap-4">
            {chunk.map((testimonial) => {
              return <Testimonial testimonial={testimonial.fields} />;
            })}
          </div>
        ))}
      </div>
    ) : (
      <div>
        <p class="text-center">
          We are currently curating a list of testimonials from our community.
          Please check back soon.
        </p>
      </div>
    )
  }
</div>
